body {
    width: 100%;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}
@font-face {
    font-family: WWF;
    src: url("fonts/NotoSansSC-Medium.otf");
}
div {
    font-family: WWF;
}
.navbar-brand img {
    transform: scale(1.3) translate(5px, -6px);
}
.cungnhau {
    padding-bottom: 35px;
    border-bottom: 2px solid #000;
}
.vung6 {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 20px;
    color: white;
    font-size: 20px;
    line-height: 1.2;
}

.paddingbottom{
    padding-bottom:20px;
}
.noidung01{
    z-index:1;
    padding-top:300px;
    color:white;
    padding-left:50px;
    width:450px;
    margin-left:6%;
}
    .noidung01 h1 {
        font-size:16px;
        line-height: .9;
        font-weight:700;
        margin-bottom:20px;
    }
.noidung01 p{
    margin-bottom:20px;
}
#vung01{
    margin-top:-20px;
}
#vung01 img{
    z-index:-1;
    position:absolute;
    height:630px;
    width:1480px;
}
#vung02 {
    padding-top: 200px;
    margin-left: 15.7%;
    margin-right: 12%;
    padding-bottom:20px;
}
#vung02 h3{
    font-weight:700;
    font-size:20px;
    margin-bottom:20px;
}
#vung02 p{
    font-size:20px;
    margin-bottom:20px;
}
#vung03 a{
    color:black;
}
#vung03 a:hover {
    color: #dd681b;
    text-decoration:none;
}
#vung03 img {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 300px;
}

#vung03 button {
    border-radius: 50%;
    color: grey;
    width: 50px;
    height: 50px;
}
.docthem button {
    background-color: #dd681b;
    transition: all .3s ease;
    border: none;
    border-radius: 0;
    font-size: 16px;
    line-height: 58px;
    height: 58px;
    text-transform: uppercase;
    padding: 0 60px;
    font-family: wwf;
    letter-spacing: 1px;
    margin-bottom: 100px;
}

.row{
    padding:50px;
}
.tinmoi {
    box-shadow: 2px 2px 0px -1px rgb(128, 128, 128);
}
.congviec {
    width: 100%;
    overflow: hidden;
    border: 1px solid #e5e5e5;
}

    .congviec img {
        width: 100%;
        height: 100%;
        transition-duration: 0.3s;
    }

        .congviec img:hover {
            transform: scale(1.2);
        }
.docthem button:hover {
    background-color: coral;

}
.docthem a{
    color:white;
}
.docthem a:hover{
    color:white; 
    text-decoration:none; 
}
    #vung03 button:hover {
        background-color: #dd681b;
        color:white;
    }
#vung03 h1 {
    text-transform: uppercase;
    color: #000;
    font-family: wwf;
    letter-spacing: 1px;
    font-size: 40px;
    margin-bottom: 55px;
    line-height: 1;
    text-align: center;
    font-weight:600;
}
#vung03 h2 {
    font-size: 20px;
    line-height: 1.2;
    font-weight:700;
}
#vung03{
    margin-right:20px;
    padding:40px;
}
iframe {
    width: 100%;
}
#vung05 img {
    width:100%;
}
#vung06 img {
    width: 100%;
}
#vung07 a {
    color: black;
}
#ngangtren a {
    height: 70px;
    font-size:18px;
    text-align:center;
    padding-top:20px;
}
#vung07 a:hover {
    color: #dd681b;
    text-decoration: none;
}
#vung08 {
    background-image: url("images/hayhanhdong.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    position: relative;
    background-position: center center;
    margin-bottom:50px;
}
.noidung08 {
    color: white;
    padding-top: 185px;
    padding-right: 58px;
}
#vung09 img {
    margin-bottom:50px;
    margin-top:100px;
}
#ngangduoi {
    padding: 24px 96px;
    height: auto;
    padding-bottom: 80px;
    margin-left: -70px;
    margin-right: -15px;
}
    #ngangduoi ul {
        font-weight:700;
        color:black;
        list-style: none;
    }

    #ngangduoi a {
        color:grey;
        font-weight:200;
    
    }
    #ngangduoi a:hover {
        text-decoration: none;
    }

    #ngangduoi li {
        font-size: 15px;
        line-height: 1.5;
    }
#ngangduoi02 {
    margin-left: -86px;
    margin-right: -68px;
}
.navbar-right .dropdown-menu {
    width: 477px;
    padding: 50px 30px;
    right: -16px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

        .overlay a {
            font-size: 20px
        }

        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
}
